<template functional>
  <layout v-bind="props" v-on="listeners">
    <!-- Close button on the toolbar -->
    <my-icon-button icon="close" @click="parent.closeActivity()" slot="toolbarStart"/>

    <!-- Router view for the bottom bar navigation -->
    <template slot="content">
      <panel-transition>
        <router-view></router-view>
      </panel-transition>

      <v-bottom-nav :value="true" absolute>
        <slot name="default"></slot>
      </v-bottom-nav>
    </template>

    <!-- Inject remaining slots -->
    <template v-for="slot in Object.keys($slots)" :slot="slot">
      <slot :name="slot"></slot>
    </template>
  </layout>
</template>
