<template functional>
  <layout v-bind="props" v-on="listeners">
    <!-- Close button on the toolbar -->
    <my-icon-button icon="close" @click="parent.closeActivity()" slot="toolbarStart"/>

    <!-- Inject remaining slots -->
    <template v-for="slot in Object.keys($slots)" :slot="slot">
      <slot :name="slot"></slot>
    </template>
  </layout>
</template>
