<template>
  <v-app class="fullscreen">

    <!-- -->
    <!-- Toolbar -->
    <!-- -->
    <v-toolbar color="primary" fixed clipped-left app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="$slots.drawer"/>
      <slot name="toolbarStart" v-if="$slots.toolbarStart"></slot>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="toolbarEnd" v-if="$slots.toolbarEnd"></slot>
    </v-toolbar>


    <!-- -->
    <!-- Drawer -->
    <!-- -->
    <v-navigation-drawer v-model="drawer" clipped app v-if="$slots.drawer">
      <slot name="drawer"></slot>
    </v-navigation-drawer>



    <!-- -->
    <!-- Content -->
    <!-- -->
    <v-content>
      <v-progress-linear indeterminate query active color="accent" height="3" class="ma-0" v-if="loading"/>

      <v-container fluid fill-height :class="containerClasses" :style="containerStyle">
        <v-layout column :class="layoutClasses" :style="layoutStyle">
          <slot name="content"></slot>
        </v-layout>
      </v-container>
    </v-content>


    <!-- Footer -->
    <v-footer color="primary" app v-if="$slots.footer">
      <slot name="footer"></slot>
    </v-footer>

    <!-- Snackbar -->
    <my-snackbar :snackbar="snackbar"/>
  </v-app>
</template>

<script>
  import { usingSnackbar } from 'tools/snackbar'

  export default {
    props: {
      'title': String,
      'container-classes': Array,
      'container-style': Object,
      'layout-classes': Array,
      'layout-style': Object,
      'loading': Boolean,
    },

    mixins: [ usingSnackbar ],

    data: function() { return {
      drawer: false,
    }},

    watch: {
      title: (title) => document.title = `${title} | Habbot`
    },
  }
</script>
