<template functional>
  <layout v-bind="props" v-on="listeners">
    <!-- Router view for the navigation -->
    <panel-transition slot="content">
      <router-view></router-view>
    </panel-transition>

    <!-- Inject remaining slots -->
    <template v-for="slot in Object.keys($slots)" :slot="slot">
      <slot :name="slot"></slot>
    </template>
  </layout>
</template>

