<template functional>
  <v-list-tile :to="props.path" :replace="!props.noreplace" v-on="listeners">
    <v-list-tile-action>
      <v-icon v-if="props.icon">{{ props.icon }}</v-icon>
    </v-list-tile-action>
    <v-list-tile-content>
      <v-list-tile-title>{{ props.text }}</v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script>
  export default {
    props: {
      'path': String,
      'icon': String,
      'text': String,
      'noreplace': {
        type: Boolean,
        default: false
      }
    }
  }
</script>

