<template>
  <dialog-activity :title="$t('title')">

    <v-stepper v-model="steppers.active" slot="content">

      <v-stepper-header>
        <v-stepper-step step="1" :complete="steppers.generalDone" editable>{{ $t('general') }}</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="steppers.transportDone" :editable="steppers.generalDone">{{ $t('transport') }}</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :editable="steppers.transportDone">{{ $t('summary') }}</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <!--                       -->
        <!-- General configuration -->
        <!--                       -->
        <v-stepper-content step="1" editable>
          <my-section :title="$t('general')">
            <v-form ref="generalForm">

              <!-- Name field -->
              <v-text-field
                v-model="generalConfig.name"
                :label="$t('name')"
                :disabled="!creationMode"
                :rules="[v => !!v || $t('nameRequired')]" />

              <!-- Type field -->
              <v-select
                v-model="generalConfig.type"
                item-value="id"
                item-text="name"
                :items="transportTypes"
                :disabled="!creationMode"
                :label="$t('type')"
                :rules="[v => !!v || $t('typeRequired')]" />
            </v-form>
          </my-section>
        </v-stepper-content>

        <!-- -->
        <!-- Transport configuration -->
        <!-- -->
        <v-stepper-content step="2" :editable="steppers.generalDone">
          <component ref="transportForm" :is="transportForm" v-bind="transportConfig"/>
        </v-stepper-content>

        <!-- -->
        <!-- Summary -->
        <!-- -->
        <v-stepper-content step="3" :editable="steppers.transportDone">
          <my-section :title="$t('general')">
            <my-description :name="$t('name')" :value="generalConfig.name"/>
            <my-description :name="$t('type')" :value="generalConfig.type"/>
          </my-section>

          <my-section :title="$t('transport')">
            <pre class="code">{{ JSON.stringify(transportConfig, null, 2) }}</pre>
          </my-section>
        </v-stepper-content>

      </v-stepper-items>

    </v-stepper>

    <!-- Fab -->
    <my-fab slot="content"
      :icon="fabIcon"
      :loading="isCommandRunning('create_network')"
      :disabled="isCommandRunning('create_network')"
      @click="handleFABNavigation()"/>

  </dialog-activity>
</template>

<script>
  import { mapState } from 'vuex'

  import { usingChannel } from 'tools/channel'
  import { DialogActivity } from 'tools/activities/mixins'

  import SerialConfigForm from './transport_forms/serial'
  import MQTTConfigForm from './transport_forms/mqtt'
  import RemoteConfigForm from './transport_forms/remote'



  export default {
    name:'MS-EditNetworkDialog',

    props: ['network'],

    inject: ['mysensors'],

    mixins: [
      DialogActivity,
      usingChannel({
        commands: [
          {id: 'create_network', name: 'register_network' },
          {id: 'update_network' }
        ]
      })
    ],

    data: function() {
      let currentNetwork = this.$store.state.MySensors.networks[this.network]
      return {
        generalConfig: {
          name: currentNetwork ? currentNetwork.config.name : null,
          type: currentNetwork ? currentNetwork.config.type : null,
        },

        transportForm: null,
        transportConfig: currentNetwork ? currentNetwork.config.transport : null,

        steppers: {
          active: 1,
          generalDone: false,
          transportDone: false,
        }
      }
    },

    computed: {
      _channel: function() { return this.mysensors.channel }, // Set channel for usingChannel mixin
      creationMode: function() { return this.network ? false : true },
      fabIcon: function() { return this.steppers.active == 3 ? 'done' : 'keyboard_arrow_right' },
      transportTypes: function() { return [
        { id: 'serial', name: 'Serial', component: SerialConfigForm },
        { id: 'mqtt', name: 'MQTT', component: MQTTConfigForm },
        { id: 'remote', name: 'Remote', component: RemoteConfigForm },
      ]}
    },

    methods: {
      handleFABNavigation() {
        // FAB navigation for the stepper
        switch(this.steppers.active) {
          case 1:
          case "1":
            if(!this.$refs.generalForm.validate()) break;

            let transport = this.transportTypes.find(t => t.id == this.generalConfig.type)

            this.transportForm = transport.component
            this.steppers.generalDone = true
            this.steppers.active = 2
            break

          case 2:
          case "2":
            if(!this.$refs.transportForm.validate()) break;

            this.transportConfig = this.$refs.transportForm.data()
            this.steppers.transportDone = true
            this.steppers.active = 3
            break

          case 3:
          case "3":
            if(this.creationMode)
              this.createNetwork()
            else
              this.updateNetwork()

            break

          default:
            this.steppers.generalDone = false
            this.steppers.transportDone = false
            this.steppers.active = 1
            this.transportForm = null
            this.transportConfig = null
        }
      },

      // Create command
      createNetwork() {
        this.sendCommand('create_network', {transport: this.transportConfig, ...this.generalConfig}, resp => this.closeActivity())
      },

      // Update command
      updateNetwork() {
        this.sendCommand('update_network', {uuid: this.network, transport: this.transportConfig}, resp => this.closeActivity())
      },
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  title: "New network"
  general: "General"
  summary: "Summary"
  nameRequired: "Name required"
  typeRequired: "Type required"

fr:
  title: "Nouveau réseau"
  general: "Général"
  summary: "Résumé"
  nameRequired: "Nom requis"
  typeRequired: "Type requis"
</i18n>
