<template>
  <my-section :title="$t('information')" classes="vl">
    <my-description :name="$t('uuid')" :value="network"/>

    <my-description :name="$t('status')">
      <network-status :network="info"/>
      <my-icon-button icon="info" color="warning" class="ma-0" @click="errorDialog = true" v-if="info.status == 'error'"/>
    </my-description>

    <v-btn flat small outline color="accent" class="ml-0" :to="{ path: '/mysensors/nodes', query: { network: network } }">{{ $tc('node', 2) }}</v-btn>

    <my-info-dialog v-bind:open.sync="errorDialog"
      :title="$t('errorDialog.title')"
      :text="info.error"/>

  </my-section>
</template>

<script>
  import { mapState } from 'vuex'

  import NetworkStatus from './network_status'

  export default {
    name: 'MS-NetworkInformationPanel',
    props: ['network'],
    components: { NetworkStatus },
    data() { return { errorDialog: false } },
    computed: {
      ...mapState('MySensors', { info: function (state) { return state.networks[this.network] || { } } }),
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  errorDialog:
    title: "Network crashed"

fr:
  errorDialog:
    title: "Réseau en erreur"
</i18n>
