<template>
  <my-section class="vl grow">
    <!-- Title and filters -->
    <v-layout slot="title">
      <span>{{ $t('transport') }}</span>
      <v-spacer/>
      <v-select v-model="keep" :items="[10, 25, 50, 100, 250, 500]" :label="$t('keep')" :style="{flexGrow: 0, width: 'min-content'}"/>
      <my-icon-button icon="clear" @click="clear"/>
    </v-layout>

    <!-- Message form -->
    <message-form class="fixed-size" :command-running="isCommandRunning('command')" @send-message="sendMessage"/>

    <!-- Transport console -->
    <div class="vl grow">
      <message v-for="(msg, index) in messages" :key="index" :direction="msg.direction" :message="msg.message"/>
    </div>
  </my-section>
</template>

<script>
  import { usingSnackbar } from 'tools/snackbar'
  import { withChannel } from 'tools/channel'

  import Message from 'mysensors/message'
  import MessageForm from 'mysensors/message_form'

  export default {
    name: 'MS-NetworkTransportPanel',

    components: {
      Message,
      MessageForm
    },

    props: ['network'],

    data() { return {
      messages: [],
      keep: 25,
    }},

    mixins: [
      usingSnackbar,
      withChannel({
        name: (c) => c.network == null ? null : `mysensors#network:${c.network}`,
        handlers: [
          {event: "incoming", fun: (c, msg) => c.onNewMessage("incoming", msg) },
          {event: "outgoing", fun: (c, msg) => c.onNewMessage("outgoing", msg) }
        ],
        commands: [
          { id: "command", ok: 'sbMessageSent' }
        ]
      }),
    ],

    watch: {

      // Watch 'keep' to truncate the messages list if needed
      keep: function() {
        this.messages = this.messages.slice(0, this.keep)
      }
    },

    methods: {

      // Clear the messages list
      clear() {
        this.messages = []
      },

      // Add a new message
      onNewMessage(direction, message) {
        this.messages.unshift({direction, message})

        if(this.messages.length > this.keep)
          this.messages.pop()
      },

      // Send a message to the network
      sendMessage({node, sensor, command, type, payload}) {
        this.sendCommand("command", {
          'node_id': node,
          'sensor_id': sensor,
          'command': command,
          'type': type,
          'payload': payload
        })
      }
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  sbMessageSent: "Message sent"

fr:
  sbMessageSent: "Message envoyé"
</i18n>
