<template>
  <my-section :title="$tc('network', 2)" class="vl grow">

    <!-- Card grid for networks -->
    <my-grid>
      <my-grid-carditem v-for="network, uuid in networks" :key="uuid">
        <!-- Title -->
        <div slot="title" class="vl baseline">
          <div class="title accent--text">{{ network.config.name }}</div>
          <div class="subhead"><network-status :network="network"/></div>
        </div>
        <!-- Actions -->
        <my-icon-button slot="actions" flat icon="info" color="primary" :to="{ path: `/mysensors/network/${uuid}` }"/>
        <my-icon-button slot="actions" flat icon="group_work" color="primary" :to="{ path: '/mysensors/nodes', query: { network: uuid } }"/>
      </my-grid-carditem>
    </my-grid>

    <!-- FAB for create new network -->
    <my-fab icon="add" to="./networks/new"/>
  </my-section>
</template>

<script>
  import { mapState } from 'vuex'

  import NetworkStatus from './network_status'

  export default {
    name: "MS-Networks",
    components: { NetworkStatus },
    computed: mapState('MySensors', ['networks']),
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
