<template>
  <!--              -->
  <!-- Main content -->
  <!--              -->
  <router-view v-if="status == 'loading' && initialized" @logout="logout"/>

  <!--               -->
  <!-- Splash screen -->
  <!--               -->
  <layout v-else
    :container-classes="['justify-center', 'align-center']"
    :layout-classes="['elevation-2', 'pa-5']"
    :layout-style="{flexGrow: 0, height: 'unset'}">
    <template slot="content">

      <!-- Title -->
      <v-layout row align-center justify-center class="no-grow mb-3">
        <v-avatar color="primary" size="128" class="mr-5">
          <img src="/images/icon.svg" class="pa-3"/>
        </v-avatar>
        <span class="display-2">{{ $t('welcome', {version: '0.2'}) }}</span>
      </v-layout>

      <!-- Status -->
      <div v-if="status != 'login'" class="subheading font-weight-regular font-italic">{{ authStatus }}</div>

      <!-- Login form -->
      <v-form ref="loginForm" class="vl no-grow" v-else>
        <v-text-field
          ref="username"
          v-model="loginForm.username"
          :label="$t('username')"
          :rules="[v => !!v || $t('required')]"
          :disabled="authRunning"
          @keyup.enter="login"
          autofocus
          required/>

        <v-text-field
          v-model="loginForm.password"
          :label="$t('password')"
          :append-icon="loginForm.showPassword ? 'visibility_off' : 'visibility'"
          :type="loginForm.showPassword ? 'text' : 'password'"
          :disabled="authRunning"
          @click:append="loginForm.showPassword = !loginForm.showPassword"
          @keyup.enter="login"
          required/>

        <v-btn
          class="mt-3"
          :disabled="authRunning"
          @click="login">
          {{ $t('login') }}
        </v-btn>
      </v-form>

      <!-- Progress bar -->
      <v-progress-linear
        color="accent"
        v-model="progress.value"
        :active="$wait.any"
        :indeterminate="progress.value <= 0" />

    </template>

    <!-- Footer -->
    <v-layout slot="footer">
      <span class="ml-2">&copy; 2019</span>
    </v-layout>

  </layout>
</template>

<script>
  // Moment.js configuration
  import Vue from 'vue'
  import moment from 'moment'
  import fr from 'moment/locale/fr'

  import socket from "tools/socket"
  import Layout from 'tools/activities/layout'
  import { provideSnackbar } from 'tools/snackbar'

  export default {

    /*
     * Data
     */
    data: function() { return {
      status: '',
      progress: {
        value: 0,
      },
      loginForm: {
        username: '',
        password: '',
        showPassword: false
      },
      provided: {
        channel: null,
        auth: null,
      }
    }},


    /*
     * Provide the habbot channel to children
     */
    provide: function() { return {habbot: this.provided} },


    /*
     * Mixins
     */
    mixins: [provideSnackbar()],


    /*
     * Mounted hook
     */
    mounted: function() {
      // Reconnect or provide the login form
      let token = window.localStorage.getItem("auth_token")
      if(token != null)
        this.reconnect(token)
      else
        this.resetToLoginForm()
    },


    /*
     * Created hook
     */
    created: function() {
      // TODO Register vue-moment here ? I don't remember why, need to find out
      Vue.use(require('vue-moment'), { moment })
    },


    /*
     * Computed properties
     */
    computed: {
      initialized: function() { return this.$store.state.initialized.places && this.$store.state.initialized.values },
      connected: function() { return window.localStorage.getItem("auth_token") != null },
      authRunning: function() { return this.status != 'login' },
      authStatus: function() {
        switch(this.status) {
          case 'authenticating': return this.$t('authentication')
          case 'connecting': return this.$t('connection')
          case 'connected': return this.$t('connected')
          case 'reconnect': return this.$t('reconnect')
          case 'loading': return this.$t('loading')
          default: return this.status
        }
      }
    },


    /*
     * Methods
     */
    methods: {

      setStatus: function(status) {
        this.status = status
      },

      resetToLoginForm: function() {
        this.setStatus('login')
        this.$wait.end('login')
      },

      // Authenticate to the server
      login: function() {
        if(!this.$refs.loginForm.validate()) return

        this.setStatus('authenticating')
        this.$wait.start('login')

        fetch('./api/auth/login', {
          method: 'POST',
          body: JSON.stringify({ username: this.loginForm.username, password: this.loginForm.password }),
          headers: {
            'content-type': "application/json",
          }
        })
        .then(response => {
          if(response.status == 200) {
            this.showSnackbar(this.$t('authenticated'))
            response.json().then(data => {
              let token = data.token
              window.localStorage.setItem("auth_token", token)
              this.connect(token)
            })
          } else {
            this.showSnackbar(this.$t('authError', {status: `${response.statusText} (${response.status})`}))
            this.resetToLoginForm()
          }
        })
        .catch(error => {
          this.showSnackbar(this.$t('networkError', {error: `${error.statusText} (${error.status})`}))
          this.resetToLoginForm()
        })
      },


      // Logout from current session
      logout() {
        let token = window.localStorage.getItem("auth_token")

        fetch('./api/auth/logout', {
          method: 'POST',
          headers: {
            'content-type': "application/json",
            'authorization': `Bearer ${token}`
          }
        })
        .then(response => {
          this.resetToLoginForm()
          this.showSnackbar(this.$t('loggedOut'))
          window.localStorage.removeItem("auth_token")
          socket.disconnect()
        })
        .catch(error => {
          this.showSnackbar(this.$t('networkError', {error: `${error.statusText} (${error.status})`}))
        })
      },


      // Connect the socket using the given authentication token
      connect: function(auth_token) {
        this.setStatus('connecting')
        window.setTimeout(() => socket.connect({token: auth_token}, this.onSocketConnected, this.onSocketError), 2000)
      },


      // Try to reconnect to the server using an existing authentication token
      reconnect: function(token) {
        this.setStatus('reconnect')
        this.$wait.start('login')

        fetch('./api/auth/info', {
          method: 'POST',
          headers: {
            'content-type': "application/json",
            'authorization': `Bearer ${token}`
          }
        })
        .then(response => {
          if(response.status == 200) {
            this.showSnackbar(this.$t('authenticated'))
            this.connect(token)
          } else {
            this.showSnackbar(this.$t('authExpired'))
            this.resetToLoginForm()
          }
        })
        .catch(error => {
          this.showSnackbar(this.$t('networkError', {error: `${error.statusText}(${error.status})`}))
          this.resetToLoginForm()
        })
      },


      // Socket connected handler
      onSocketConnected: function() {
        this.setStatus('connected')
        this.showSnackbar(this.$t('connected'))

        this.setupChannel()
        this.$wait.end('login')
      },


      // Socket error handler
      onSocketError: function(error) {
        this.showSnackbar(this.$t('connectionError', {error: `${JSON.stringify(error)}`}))
        this.resetToLoginForm()
      },


      // Setup Habbot channel
      setupChannel() {
        this.setStatus('loading')
        let channel = socket.channel("habbot:habbot", {})
        channel.join()
          .receive("ok", () => {
            this.provided.channel = channel

            // Register listeners for value events
            channel.on("value_updated", this.onValueUpdated)
            channel.on("value_outdated", this.onValueOutdated)
            channel.on("value_uptodate", this.onValueUpToDate)

            // Register listeners for place events
            channel.on("place_created", this.onPlaceCreated)
            channel.on("place_updated", this.onPlaceUpdated)
            channel.on("place_destroyed", this.onPlaceDestroyed)

            // Initial fetching of data
            this.$store.dispatch('fetchValues', channel)
            this.$store.dispatch('fetchPlaces', channel)
          })
          // TODO handle errors
      },


      // Handle value updated events
      onValueUpdated(event) {
        this.$store.dispatch('updateValue', event)
      },
      onValueOutdated(event) {
        this.$store.dispatch('flagValue', {uuid: event.uuid, outdated: true})
      },
      onValueUpToDate(event) {
        this.$store.dispatch('flagValue', {uuid: event.uuid, outdated: false})
      },


      /*
       * Handle place events
       */
      onPlaceCreated(event) {
        this.$store.dispatch('addPlace', event)
      },
      onPlaceUpdated(event) {
        this.$store.dispatch('updatePlace', event)
      },
      onPlaceDestroyed(event) {
        this.$store.dispatch('removePlace', event)
      },

    }
  }
</script>

<i18n>
en:
  authenticated: "Authenticated"
  authError: "Authentication error: {status}"
  loggedOut: "Logged out"
  authExpired: "Authentication expired"
  connected: "Connected !"
  connectionError: "Connection error: {error}"
  welcome: "Welcome to Habbot v{version}"
  username: "Username"
  password: "Password"
  login: "Log in"
  required: "Username required"
  authentication: "Authentication..."
  connection: "Connection..."
  reconnect: "Trying to reconnect..."
  loading: "Loading data..."

fr:
  authenticated: "Authentifié"
  authError: "Erreur d'authentification : {status}"
  loggedOut: "Déconnecté"
  authExpired: "Authentification expirée"
  connected: "Connecté !"
  connectionError: "Erreur de connexion: {error}"
  welcome: "Bienvenue sur Habbot v{version}"
  username: "Utilisateur"
  password: "Mot de passe"
  login: "Se connecter"
  required: "Utilisateur requis"
  authentication: "Authentification..."
  connection: "Connexion..."
  reconnect: "Tentative de reconnexion..."
  loading: "Chargement des données..."
</i18n>
