<template>
  <my-section class="vl" :title="$t('sections.home')">
    <span class="body-1">{{ $t('lblServerTime', {time: formattedTime}) }}</span>
  </my-section>
</template>

<script>
  import moment from 'moment'
  import { withChannel } from 'tools/channel'

  export default {
    mixins: [withChannel({
      name: 'habbot:status',
      onJoin: (c, res) => c.initChannel()
    })],
    data: function() { return {
      time: null
    }},
    computed: {
      formattedTime: function() { return moment(this.time).format('LLLL') }
    },
    beforeDestroy: function() {
      if(this.redrawTimer) window.clearInterval(this.redrawTimer)
    },
    methods: {
      initChannel: function() {
        this.updateTime()
        this.redrawTimer = window.setInterval(() => {
          this.updateTime()
        }, 5000)
      },
      updateTime: function() {
        this.channel.push("time")
          .receive("ok", status => {
            this.time = status.time
          })
      }
    }
  }
</script>

<i18n>
en:
  lblServerTime: "Server time: {time}"

fr:
  lblServerTime: "Horloge serveur : {time}"
</i18n>
