/* This file is for your main application css. */


$primary: #4CAF50; // green 500
$accent: #795548; // brown 500

body {
  margin: unset;
  overflow: hidden;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hl {
  display: flex;
  flex-direction: row;
}

.vl {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.centered_layout {
  align-items: center;
  justify-content: center;
}

.fixed-size {
  flex-shrink: 0;
}


.scrollable {
  flex-basis: 0;
}

.scroll-y {
  overflow-y: scroll;
}


// Global app styling

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.outdated {
  color: lightgrey;
}

.outdated img {
  filter: opacity(50%)
}

section {
  .md-display-1 {
    margin-top: 0px;
    margin-bottom: 0.5ex;
  }

  margin-bottom: 2ex;
}

.value {
  transition: color 500ms;
  display: inline-flex;

  align-items: center;
  width: fit-content;
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

.value > img.icon {
  height: 24px;
  margin-right: 1em;
}

.value.icon-big > img.icon {
  height: 32px;
}

pre.code {
  background-color: rgba($accent, 0.3);
}

.v-card.selectable {
  transition: background-color 200ms;
}

.v-card.selected {
  background-color: rgba($primary, 0.3);
}

// Animations

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active, .slide-right-leave-active, .slide-left-enter-active, .slide-left-leave-active {
  transition: all .5s ease;
}
.slide-right-enter {
  transform: translateX(100vw);
  opacity: 0;
}
.slide-right-leave-to {
  transform: translateX(-100vw);
  opacity: 0;
}
.slide-left-enter {
  transform: translateX(-100vw);
  opacity: 0;
}
.slide-left-leave-to {
  transform: translateX(100vw);
  opacity: 0;
}


.spin {
    /* The animation part: */
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
