<template>
  <dialog-activity :title="info.name">

    <!-- -->
    <!-- Toolbar -->
    <!-- -->
    <v-menu slot="toolbarEnd">
      <v-btn slot="activator" icon>
        <v-icon>more_vert</v-icon>
      </v-btn>

      <v-list>
        <v-list-tile :disabled="isCommandRunning('delete_place')" @click.stop="confirmDialog = true">
          <v-list-tile-title>{{ $t('actionDelete') }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <!-- -->
    <!-- Content -->
    <!-- -->
    <template slot="content">
        <!-- Confirmation dialog -->
        <my-confirm-dialog v-bind:open.sync="confirmDialog"
          :title="$t('confirmDelete.title', {name: info.name})"
          :text="$t('confirmDelete.content')"
          @confirm="sendCommand('delete_place', {uuid: place})"/>


        <!-- Information -->
        <my-section class="vl" :title="$t('information')">
          <my-description :name="$t('name')" :value="info.name"/>
          <my-description :name="$t('description')" :value="info.description"/>
        </my-section>

        <!-- Values -->
        <my-section class="vl" :title="$t('values')">
          <value
            v-for="x, value in info.values"
            :key="value"
            :value="$store.state.values[value]" />
        </my-section>
    </template>

    <!-- FAB for steppers navigation -->
    <my-fab slot="content" icon="edit" :to="`/place/${place}/edit`"/>

  </dialog-activity>
</template>

<script>
  import { mapState } from 'vuex'

  import { usingChannel } from 'tools/channel'
  import { DialogActivity } from 'tools/activities/mixins'

  export default {
    props: {
      'place': String,
    },

    mixins: [
      DialogActivity,
      usingChannel({
        commands: [ { id: "delete_place", ok: (c, resp) => c.closeActivity() } ]
      })
    ],

    inject: ['habbot'],


    computed: {
      ...mapState({ info: function (state) { return state.places[this.place] || {} } }),
      _channel: function() { return this.habbot.channel }, // Set channel for usingChannel mixin
    },

    data: function() { return {
      confirmDialog: false
    }},
  }
</script>

<i18n>
en:
  values: "Values"
  actionDelete: "Delete"
  confirmDelete:
    title: "Delete the place {name}"
    content: "Are you sure you want to delete this place ?"

fr:
  values: "Valeurs"
  actionDelete: "Supprimer"
  confirmDelete:
    title: "Supprimer le lieu {name}"
    content: "Etes vous sur de vouloir supprimer ce lieu ?"
</i18n>
