<template>
  <my-section :title="$t('sections.places')" class="vl grow">

    <!-- Card grid for places -->
    <my-grid>
      <my-grid-carditem v-for="place, uuid in places" :key="uuid">
        <!-- Title -->
        <div slot="title" class="vl baseline">
          <div class="title accent--text">{{ place.name }}</div>
          <div class="subhead" v-if="place.description">{{ place.description }}</div>
        </div>
        <!-- Content -->
        <div class="vl">
          <value
            v-for="x, value in place.values"
            :key="value"
            :value="$store.state.values[value]" />
        </div>
        <!-- Actions -->
        <v-btn slot="actions" flat icon class="primary--text" :to="{ path: '/place/' + place.uuid }">
          <v-icon>info</v-icon>
        </v-btn>
      </my-grid-carditem>
    </my-grid>

    <!-- FAB for create new place -->
    <my-fab icon="add" to="/place/new"/>

  </my-section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    computed: {
      ...mapState(['values', 'places']),
      empty: function() {
        return Object.keys(this.places).length == 0
      }
    },
  }
</script>
