<template>
  <router-view></router-view>
</template>

<script>
  import { withChannel } from 'tools/channel'

  import MySensorsStore from './store'

  export default {
    name: 'MS-Root',

    // Load withChannel mixin for communication with mysensors channel
    mixins: [withChannel({
      name: 'mysensors:mysensors',
      handlers: [
        {event: "networks_events", fun: (c, msg) => c.onNetworkEvent(msg) },
        {event: "node_discovered", fun: (c, msg) => c.onNodeDiscovered(msg) },
        {event: "node_updated", fun: (c, msg) => c.onNodeUpdated(msg) },
        {event: "sensors_events", fun: (c, msg) => c.onSensorEvent(msg) },
      ]
    })],

    // Register store on creation
    created() {
      this.$store.registerModule('MySensors', MySensorsStore)
    },

    // Unregister store on destruction
    beforeDestroy() {
      this.$store.unregisterModule('MySensors')
    },

    data() { return {
      injection: {
        channel: null
      }
    }},

    // Inject mysensors property into the hierarchy
    provide: function() { return {mysensors: this.injection} },

    methods: {

      // Handle channel connected to fetch data and register event listeners
      onChannelConnected() {
        this.$store.dispatch('MySensors/fetchTypes', this.channel)
        this.$store.dispatch('MySensors/fetchNetworks', this.channel)
        this.$store.dispatch('MySensors/fetchNodes', this.channel)
        this.$store.dispatch('MySensors/fetchSensors', this.channel)

        this.injection.channel = this.channel
      },

      // Handle network events
      onNetworkEvent(event) {
        if(event.type == 'network_status_changed')
          this.$store.dispatch('MySensors/updateNetwork', event.data)

        else if(event.type == 'network_registered')
          this.$store.dispatch('MySensors/addNetwork', event.data)

        else if(event.type == 'network_unregistered')
          this.$store.dispatch('MySensors/deleteNetwork', event.data)
      },

      // Handle node discovered events
      onNodeDiscovered(event) {
        this.$store.dispatch('MySensors/addNode', event)
        this.$store.dispatch('MySensors/fetchSensors', this.channel)
      },

      // Handle node events
      onNodeUpdated(event) {
        this.$store.dispatch('MySensors/updateNode', event)
      },

      // Handle sensor events
      onSensorEvent(event) {
        this.$store.dispatch('MySensors/updateSensorData', event)
      },
    },
  }
</script>
