<template functional>
  <v-tooltip bottom :open-delay="500">
  <div slot="activator" class="value" :class="[{outdated: props.value.outdated}, data.staticClass, ...data.class]">
    <img v-if="props.value.type == 'temperature'" class="icon" src="/images/icon_temperature.svg"></img>
    <img v-else-if="props.value.type == 'humidity'" class="icon" src="/images/icon_humidity.svg"></img>
    <img v-else-if="props.value.type == 'pressure'" class="icon" src="/images/icon_pressure.svg"></img>
    <img v-else class="icon" src="/images/icon_generic.svg"></img>
    <slot><span>{{ props.value.value ? props.value.value : 'n/a' }}</span></slot>
  </div>
  <span v-if="props.value.timestamp">{{ props.value.timestamp | fromNow }}</span>
  </v-tooltip>
</template>

<script>
  export default {
    props: {
      'value': {
        type: Object,
        default: function() { return {} }
      },
    },
  }
</script>
