<template>
  <my-section :title="$t('sections.values')">
    <!-- -->
    <!-- Dialog for value information -->
    <!-- -->
    <v-dialog v-model="showDialog" width="unset">
      <v-card>
        <v-card-title>
          <value :value="dialogValue" class="icon-big">
            <span class="title">{{ dialogValue.value ? dialogValue.value : 'n/a' }}</span>
          </value>
        </v-card-title>

        <v-card-text>
          <my-description :name="$t('uuid')" :value='dialogValue.uuid' value-class="caption"/>
          <my-description :name="$t('lblSource')" :value='dialogValue.source' value-class="caption"/>
          <my-description v-if="dialogValue.timestamp" :name="$t('lblTimestamp')">
            {{ dialogValue.timestamp | fromNow }}
          </my-description>
          <my-description v-else :name="$t('lblTimestamp')" :value="$t('never')"/>

          <my-description :name="$t('lblStatus')" :value="dialogValue.outdated ? $t('statusOutdated') : $t('statusOnline')"/>
        </v-card-text>

        <v-card-actions>
          <v-spacer/>
          <v-btn color="primary" flat @click="closeDetailsDialog()">{{ $t('actionOK') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <!-- -->
    <!-- Content -->
    <!-- -->
    <my-grid>
      <my-grid-carditem v-for="value, uuid in values" :key="uuid" @click="showDetailsDialog(value)">
        <value :value="value" slot="title"/>
      </my-grid-carditem>
    </my-grid>
  </my-section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    data: function() { return {
      dialogValue: {},
      showDialog: false,
    }},

    computed: mapState(['values']),

    methods: {
      closeDetailsDialog() {
        this.dialogValue = {}
        this.showDialog = false
      },

      showDetailsDialog(value) {
        this.dialogValue = value
        this.showDialog = true
      }
    }
  }
</script>

<i18n>
en:
  lblSource: "Source"
  lblTimestamp: "Last updated"
  lblStatus: "Status"
  statusOutdated: "outdated"
  statusOnline: "online"

fr:
  lblSource: "Source"
  lblTimestamp: "Dernière mise à jour"
  lblStatus: "Status"
  statusOutdated: "périmée"
  statusOnline: "active"
</i18n>
