<template functional>
  <span v-if="props.last_seen == null">{{ parent.$t('never') }}</span>
  <span v-else>{{ props.last_seen | fromNow }}</span>
</template>

<script>
  export default {
    props: {
      lastSeen: Number
    }
  }
</script>
