<template>
  <bottom-bar-activity :title="`${$tc('node', 1)} ${info.sketch_name}`">

    <!-- -->
    <!-- Bottom bar -->
    <!-- -->
    <template>
      <my-bottom-nav-item
        icon="info"
        color="primary"
        :label="$t('information')"
        :replace="true"
        :to="`/mysensors/node/${node}/information`"/>
      <my-bottom-nav-item
        icon="send"
        color="primary"
        :label="$tc('command', 2)"
        :replace="true"
        :to="`/mysensors/node/${node}/commands`" />
    </template>

  </bottom-bar-activity>
</template>

<script>
  import { mapState } from 'vuex'
  import { BottomBarActivity } from 'tools/activities/mixins'

  export default {
    name: 'MS-NodeDialog',
    props: ['node'],
    mixins: [ BottomBarActivity ],
    computed: mapState('MySensors', { info: function (state) { return state.nodes[this.node] || {} } })
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
