<template>
  <my-section :title="$tc('node', 2)" class="vl grow">

    <!-- -->
    <!-- Filters -->
    <!-- -->
    <my-filters ref="filters" :totalCount="totalCount" :filteredCount="filteredNodesCount">
      <v-text-field v-model="search" :label="$t('search')" clearable/>
      <v-select v-model="networkFilter" :items="networkFilters" :label="$tc('network', 1)" :style="{flexGrow: 0}"/>
    </my-filters>


    <!-- -->
    <!-- Card grid for nodes -->
    <!-- -->
    <my-grid>
      <my-grid-carditem v-for="[uuid, node] in filteredNodes" :key="uuid">
        <!-- Title -->
        <div slot="title" class="vl baseline">
          <div class="title accent--text">{{ node.sketch_name }} #{{ node.node_id }}</div>
          <div class="subhead">{{ node.type }}</div>
        </div>
        <!-- Content -->
        <div class="vl">
          <my-description v-if="node.battery != null" :name="$t('nodes.battery')" :value="`${node.battery}%`"/>
          <my-description :name="$t('status')" :value="node.status"/>
          <my-description :name="$t('lastSeen')"><node-lastseen :last-seen="node.last_seen"/></my-description>
        </div>
        <!-- Actions -->
        <my-icon-button slot="actions" flat icon="info" color="primary" :to="{ path: `/mysensors/node/${uuid}` }"/>
        <my-icon-button slot="actions" flat icon="track_changes" color="primary" :to="{ path: '/mysensors/sensors', query: { node: uuid } }"/>
      </my-grid-carditem>
    </my-grid>


    <!-- -->
    <!-- FAB for create new network -->
    <!-- -->
    <my-fab icon="search" @click="$refs.filters.showDialog()" v-if="$vuetify.breakpoint.xsOnly"/>

  </my-section>
</template>

<script>
  import { mapState } from 'vuex'

  import NodeLastseen from './node_lastseen'


  export default {
    name: 'MS-Nodes',

    props: ['network'],

    components: { NodeLastseen },

    data() { return {
      search: "",
      networkFilter: this.network == null ? -1 : this.network,
    }},

    computed: {
      ...mapState('MySensors', ['networks', 'nodes']),

      // A list for the network filter component
      networkFilters() {
        return [
          {value: -1, text: this.$t('all')},
          ...Object.entries(this.networks)
            .map(([uuid, network]) => { return {value: uuid, text: network.config.name} })
            .sort((a, b) => a.text.localeCompare(b.text))
        ]
      },

      // The list of filtered nodes
      filteredNodes() {
        let r = new RegExp(this.search || "", "i")

        return Object.entries(this.nodes)
          .filter(([uuid, node]) => {
            return (
              (this.networkFilter == -1 || node.network == this.networkFilter)
              &&
              ((node.sketch_name == null || node.sketch_name.match(r) != null) || (node.type == null || node.type.match(r) != null))
            )
          })
          .sort(([u1, n1], [u2, n2]) => n1.node_id - n2.node_id)
      },

      // Total nodes count
      totalCount() {
        return Object.keys(this.nodes).length
      },

      // Get the number of filtered nodes
      filteredNodesCount() {
        return Object.keys(this.filteredNodes).length
      }
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
