<template>
  <transition :name="transitionName">
    <slot></slot>
  </transition>
</template>

<script>
  export default {
    name: 'ActivityTransition',

    data: function() { return {
      lastPath: null,
      transitionName: 'slide-right'
    }},

    watch: {
      '$route' (to, from) {
        this.transitionName = this.lastPath == to.fullPath ? 'slide-left' : 'slide-right'
        this.lastPath = from.fullPath
      }
    }
  }
</script>
