<template functional>
  <div>
    <span :class="props.nameClass">{{ props.name }}: </span>
    <slot v-if="children"></slot>
    <span v-else :class="props.valueClass">{{ props.value }}</span>
  </div>
</template>

<script>
  export default {
    props: {
      'name': String,
      'value': [String, Number],
      'name-class': {
        type: [String, Array],
        default: () => ["body-2", "font-weight-black"]
      },
      'value-class': {
        type: [String, Array],
        default: () => ["body-1"]
      }
    },
  }
</script>
