<template>
  <v-dialog v-if="isHidden" v-model="dialogVisible">
    <v-card>
      <v-card-text>
        <v-layout column>
          <slot></slot>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <span class="caption">{{ `${filteredCount} elements sur ${totalCount}` }}</span>
        <v-spacer/>
        <v-btn flat class="primary--text" @click="dialogVisible = false">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-layout v-else class="no-grow">
    <slot></slot>
  </v-layout>
</template>

<script>
  export default {
    props: {
      filteredCount: {
        type: Number,
        default: 0
      },
      totalCount: {
        type: Number,
        default: 0
      }
    },

    data: function() { return {
      dialogVisible: false
    }},

    computed: {
      isHidden() { return this.$vuetify.breakpoint.xsOnly }
    },

    methods: {
      showDialog() { this.dialogVisible = true },
      hideDialog() { this.dialogVisible = false },
    }
  }
</script>
