<template>
  <v-fab-transition slot="content">
    <!-- TODO restore v-show="show" (currently it corrupts fab icon change [disappear on icon change]) -->
    <v-btn
      fixed
      fab
      bottom
      right
      icon
      color="accent"
      class="mb-2 mr-2"
      v-bind="$attrs"
      :key="icon"
      @click="$emit('click')">
      <v-icon>{{ icon }}</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
  export default {
    props: {
      icon: String,
    },

    data: function() { return {
      show: false
    }},

    mounted() {
      this.show = true
    }
  }
</script>
