<template functional>
  <v-btn flat icon :class="[data.staticClass, ...data.class]" v-bind="data.attrs" v-on="listeners">
    <v-icon >{{ props.icon }}</v-icon>
  </v-btn>
</template>

<script>
  export default {
    props: {
      icon: String,
    }
  }
</script>
