<template functional>
  <v-list-tile v-bind="data.attrs" v-on="listeners">
    <v-list-tile-title>{{ props.label }}</v-list-tile-title>
  </v-list-tile>
</template>

<script>
  export default {
    props: {
      label: String
    }
  }
</script>
