<template>
  <v-speed-dial v-model="speeddial" fixed bottom right :open-on-hover="!disabled" direction="top" transition="slide-y-reverse-transition">
    <v-fab-transition slot="activator">
      <v-btn
        fab
        v-model="speeddial"
        v-show="show"
        color="accent darken-5"
        :disabled="disabled"
        :loading="loading">
        <v-icon>more_vert</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-fab-transition>
    <slot v-if="!disabled"></slot>
  </v-speed-dial>
</template>

<script>
  export default {
    props: {
      disabled: Boolean,
      loading: Boolean,
    },

    data: function() { return {
      show: false,
      speeddial: false
    }},

    mounted() {
      this.show = true
    }
  }
</script>
