<template>
  <v-snackbar v-if="snackbar" v-model="snackbar.active" :timeout="snackbar.duration">
    <span>{{ snackbar.message }}</span>
  </v-snackbar>
</template>

<script>
  export default {
    props: {
      snackbar: Object
    }
  }
</script>
