<template functional>
  <section :class="[data.staticClass, data.class]">
    <div class="headline mb-3">
      <slot name="title">
        {{ props.title }}
      </slot>
    </div>
    <slot></slot>
  </section>
</template>

<script>
  export default {
    props: {
      title: String,
    },
  }
</script>
