<template functional>
  <transition name="fade" mode="out-in">
    <keep-alive v-if="props.keep-alive">
      <slot></slot>
    </keep-alive>
    <slot v-else></slot>
  </transition>
</template>

<script>
  export default {
    props: {
      'keep-alive': Boolean
    },
  }
</script>
