<template>
  <my-section :title="$t('title')">
    <v-form ref="form">

      <!-- The host field -->
      <v-text-field
        v-model="form.host"
        :label="$t('host')"
        :rules="[v => !!v || $t('hostRequired')]" />

      <!-- The port field -->
      <v-text-field
        v-model="form.port"
        type="number"
        :label="$t('port')"
        :rules="[v => !!v || $t('portRequired')]" />

      <!-- The client_id field -->
      <v-text-field
        v-model="form.clientId"
        :label="$t('clientId')"
        :rules="[v => !!v || $t('clientIdRequired')]" />


      <!-- The root field -->
      <v-text-field
        v-model="form.root"
        :label="$t('root')"
        :rules="[v => !!v || $t('rootRequired')]" />

    </v-form>
  </my-section>
</template>

<script>
  import Form from 'tools/form'

  export default {
    mixins: [ Form ],

    props: {
      host: String,
      port: Number,
      clientId: String,
      root: String
    },

    data() { return {
      form: {
        host: this.host || null,
        port: this.port || null,
        clientId: this.clientId || null,
        root: this.root || null
      }
    }}
  }
</script>

<i18n>
en:
  title: "MQTT configuration"
  host: "Host"
  port: "Port"
  clientId: "Client ID"
  root: "Root"
  hostRequired: "Host required"
  portRequired: "Port required"
  clientIdRequired: "Client ID required"
  rootRequired: "Root required"

fr:
  title: "Configuration MQTT"
  host: "Hôte"
  port: "Port"
  clientId: "ID client"
  root: "Racine"
  hostRequired: "Hôte requis"
  portRequired: "Port requis"
  clientIdRequired: "ID client requis"
  rootRequired: "Racine requise"
</i18n>

