<template>
  <my-section :title="$t('title')">
    <v-form ref="form">

      <!-- The node field -->
      <v-text-field
        v-model="form.node"
        placeholder="user@host"
        :label="$t('node')"
        :rules="[v => !!v || $t('nodeRequired')]" />


      <!-- The transport UUID field -->
      <v-text-field
        v-model="form.transportUUID"
        :label="$t('transportUUID')"
        :rules="[v => !!v || $t('transportUUIDRequired')]" />

    </v-form>
  </my-section>
</template>

<script>
  import Form from 'tools/form'

  export default {
    mixins: [ Form ],

    props: {
      node: String,
      transportUUID: String
    },

    data: function() { return {
      form: {
        node: this.node || null,
        transportUUID: this.transportUUID || null
      }
    }}
  }
</script>

<i18n>
en:
  title: "Remote node configuration"
  node: "Node"
  transportUUID: "Transport UUID"
  nodeRequired: "Node required"
  transportUUIDRequired: "UUID required"

fr:
  title: "Configuration du noeud distant"
  node: "Noeud"
  transportUUID: "UUID du transport"
  nodeRequired: "Noeud requis"
  transportUUIDRequired: "UUID requis"
</i18n>
