<template>
  <my-section :title="$tc('command', 2)" class="vl grow">

    <!-- Message form -->
    <message-form
      :hideNode="hideNode"
      :hideSensor="hideSensor"
      :disabled="isCommandRunning('command')"
      :loading="isCommandRunning('command')"
      @send-message="sendMessage"/>

    <!-- Commands table -->
    <v-list two-line>
      <template v-for="(command, index) in commands">
        <command
          :key="index"
          :info="command"
          :channel="channel"
          :disabled="isCommandRunning('flush') || isCommandRunning('clear')"/>
        <v-divider/>
      </template>
    </v-list>

    <!-- Send button -->
    <my-speed-dial :disabled="anyCommandRunning" :loading="anyCommandRunning">
      <my-command-button fab dark small icon="refresh" color="accent" command="flush"/>
      <my-command-button fab dark small icon="delete" color="accent" command="clear"/>
    </my-speed-dial>
  </my-section>
</template>

<script>
  import Vue from 'vue'

  import { usingSnackbar } from 'tools/snackbar'
  import { withChannel } from 'tools/channel'

  import Command from './command'
  import MessageForm from 'mysensors/message_form'

  export default {
    name: 'MS-CommandsPanel',

    components: {
      Command,
      MessageForm,
    },

    props: {
      hideNode: Boolean,
      hideSensor: Boolean,
      node: String,
      sensor: String,
    },

    data: function() { return {
      commands: {}
    }},

    mixins: [
      usingSnackbar,
      withChannel({
        // Dynamic channel name
        name: (c) => {
          if(c.node == null && c.sensor == null) return null
          else if(c.node == null) return `mysensors#commands:sensor_${c.sensor}`
          else return `mysensors#commands:node_${c.node}`
        },
        // Join handler
        onJoin: (c, res) => c.initCommands(res.commands),
        // Handler for commands events
        handlers: [
          {event: "node_commands_cleared", fun: c => c.onCommandsCleared() },
          {event: "node_commands", fun: (c, msg) => c.onCommand(msg) },
        ],
        // Commands
        commands: [
          { id: "command", ok: 'sbCommandSent' },
          { id: "flush", ok: 'sbFlushed' },
          { id: "clear", ok: 'sbCleared' },
        ]
      })
    ],

    methods: {
      // Initialize commands
      initCommands(commands) {
        this.commands = {}
        for(let c of commands) {
          Vue.set(this.commands, c.id, c)
        }
      },

      // Send a command
      sendMessage({node, sensor, command, type, payload}) {
        this.sendCommand("command", {node_id: node, sensor_id: sensor, command, type, payload})
      },

      // Clear the cached commands
      onCommandsCleared() {
        this.commands = {}
      },

      // Update a command
      onCommand(msg) {
        if(this.commands[msg.id]) {
          if(['sent', 'removed'].includes(msg.status))
            Vue.delete(this.commands, msg.id)
          else
            this.commands[msg.id] = {...this.commands[msg.id], ...msg}
        } else {
          if(msg.status != 'sent')
            Vue.set(this.commands, msg.id, msg)
        }
      }

    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  sbCommandSent: "Command sent"
  sbFlushed: "Queue flushed"
  sbCleared: "Queue cleared"

fr:
  sbCommandSent: "Commande envoyée"
  sbFlushed: "File d'attente envoyée"
  sbCleared: "File d'attente vidé"
</i18n>
